
@import url("style-reset.css");
@import url("bootstrap.css");

body {
background: #389f8e;
}

a, a:link, a:visited, a:active {color: #fff;}

a:hover {color: #445552;}

.container{
width: 980px;
clear: both;
margin: 0 auto;
}

.container_large{
clear: both;
margin: 0 auto;
}

.full{clear: both;	float: left; width: 100%;}


/* HEADER */
/*********************************************/


	#header{background: #000;}

		#photo{
			background: url(../images/header.jpg) top center no-repeat;
			width: 980px;
			height: 500px;
			padding-top:55px;
			}
	
			h1.logo {margin: 0;}
	
			h1.logo a{
				clear: both;
				background: url(../images/logo.png) no-repeat;
				text-indent: -9999px;
				display: block;
				width: 340px;
				height: 100px;
				margin:0 auto;
				}	
		
	#white{
		background: url(../images/bg_white.png) repeat;
		float: left; width: 100%;
		}
	
	.inside h1.logo a{margin-top:35px;}	

	ul#t_nav{
		clear: both; 
		float: right; 
		list-style: none;
		margin: -35px 30px 60px 0;
	}
		
		ul#t_nav li {
			float: left;
			font:  normal 12px/12px "Montserrat",Helvetica,Arial,sans-serif;
			color:#ffffff;
			padding: 0px 8px;
			border-right: 1px solid #fff;
		}	
				
			ul#t_nav li a{color:#fff;}	ul#t_nav li.selected a, ul#t_nav li a:hover{color: #f1b310;} ul#t_nav li.last{border-right: none;}
		


/* HOMEPAGE */
/*********************************************/

	
		ul#menu{
			clear:both;
			list-style: none;
			float: left;
			margin: -135px 0 0 97px;
			width: 800px;
		}
	
			ul#menu li{
				display: inline;}
			
				ul#menu li a{
					color: #FFFFFF;
					float: left;
					font: bold 36px/36px "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
					height: 164px;
					margin-left: -35px;
					padding: 116px 0 0;
					text-align: center;
					text-transform: uppercase;
					width: 285px;
				}
				
					ul#menu li.m a{	
						background: url(../images/circle_m.png) 0 0 no-repeat;
						margin-left: 0px;
					}		
	
					ul#menu li.p a{	
						background: url(../images/circle_p.png) 0 0 no-repeat;
						position: relative;
						z-index: 9998;
					}	
					
					ul#menu li.c a{	
						background: url(../images/circle_c.png) 0 0 no-repeat;
						position: relative;
						z-index: 9999;
					}	

				
			ul#menu li a:hover{
			opacity: .90;
			}	


			.home ul#buttons{			
				padding-top: 100px;
				width: 520px;
				}


			.home #white .shadow{
				background: url(../images/shadow_up.png) center top no-repeat;
				top: -40px;
				height:50px;
				position: 	relative;
			}

				h5.login{
					margin: 0 auto;
					margin-top: 10px;
					margin-bottom: 30px;
					width: 200px;
				}

			.login .gold{				
				font: normal 16px/26px "Montserrat",Helvetica,Arial,sans-serif;			
				text-transform: none;
				}
				

	


/*-- INSTRUMENT PAGE --*/
/*********************************************/

	
		#instrument{
			clear: both;
			float: left;
			width: 980px;
			height: 327px;
			padding-top:37px;
			position: relative;
			}
			
			p.welcome{
				clear: both;
				float: right;
				margin: -25px 0 0 0;
				font-size:11px;		
				color: #cfcfcf;		
			}
			
				p.welcome a{color: #cfcfcf;text-decoration: underline;}
				p.welcome a:hover{color: #fff;}

			.violin{background: url(../images/header_violin.jpg) top center no-repeat;}
		
			.inside h1.logo a{
				float: left;
				width: 268px; 
				height: 71px;
				background: url(../images/logo_inside.png) no-repeat;
			}	

			#desc{
				clear: both;
				width: 390px;
				float: right;
				margin: 5px 0 50px 0;				
			}

				#desc p{color: #a3a4a5;}

			#instrument .btn{
				position: absolute;
				right: 0; bottom: 0;
			}
		
		
ul#bc{
	clear: both; 
	float: left; 
	list-style: none;
	margin: 25px 0;
}
	
	ul#bc li {
		float: left;
		font: italic normal 11px/13px "Montserrat",Helvetica,Arial,sans-serif;
		color:#f67631;
		padding: 0px 3px;
	}	
			
		ul#bc li a{color:#acc0bd;}	ul#bc li a:hover{color: #445552}
		

#content{
	width: 980px;
	clear: both;
	float: left;
}	
		
		.left .buckets {width: 401px;}	

		.right .buckets {width: 496px;}	
		
			.buckets {
				padding: 20px 0;
				background: #72c6b9;
				clear: both;
				float: left; 
				margin-bottom: 30px;
			}
				
				.buckets h4{padding: 0px 25px;}
			
				.feedback a{color:#609f95;}
				
				.buckets p {padding-top:3px;font-size: 16px;color:#d5f3ed}
				.music_downloads p {padding-top:3px;font-size: 12px;}				
				.music_downloads tr.last td, .resources tr.last td{border-bottom: none;}
				.resources {padding-bottom: 0px;}
				
	
		.note{
			background: url(../images/icons.png) -97px 0 no-repeat;
			width: 30px;
			height: 30px;
			float: left;		
		}
		
		.dl{
			background: url(../images/icons.png) -35px 0 no-repeat;
			width: 30px;
			height: 30px;
			float: right;		
		}		
		
		.file{
			background: url(../images/icons.png) -5px 0 no-repeat;
			width: 30px;
			height: 30px;
			float: left;		
		}		
		
		.play{
			background: url(../images/icons.png) -60px 0 no-repeat;
			width: 30px;
			height: 30px;
			float: left;		
		}			
		
		.dl a, .file a, .note a, .play a{text-indent: -9999em; display: block;}
		

/*-- EXPLORE --*/
/*********************************************/	

	.explore_content .shadow{
		background: url(../images/shadow_down.png)center top no-repeat;
		top: -5px;
		height:50px;
		}

	.row1 .left{
		width: 340px;
		padding: 80px 0 20px 20px;
		}

	.row1 .right{
		padding-top:10px;
		width: 551px;		
		}

	.row2 .left {
		width: 401px;
		margin-left: -20px;
		padding: 40px 0; 
		}
		
	.row2 .right {
		width: 490px;
		padding: 150px 0 0 0; 
		}

	.row3 {
		background: url(../images/explore2.png) top right no-repeat; 
		float: left;
		width: 1200px;
		padding-top:100px;
		}	
	
	.row3 .left {
		padding: 200px 0 50px;
    	width: 320px;
		}
		
	.row3 .middle {
		width: 420px;
		margin: -20px 0 0 -130px; 
		float: left;
		}

	.explore_content ul#buttons{
		float: right; 
		margin: -76px 100px 25px 0; 
		padding-top: 0px; 
		position: relative; 
		z-index:9999;
		width: 500px;}		
		

	
/*-- OUR STORY --*/
/*********************************************/	
	
	.story_content h2{
	float: left;
	margin:30px 0 30px 0;
	color: #979797;
		}
	
	.story_content .row1 .left{
		width: 630px;
		padding: 10px 30px 100px 0;
		}

	.story_content  .row1 .right{
		padding: 10px 0 40px 0;
		width: 320px;		
		}

		.story_content h3{background: none  !important; border-bottom: 4px solid; width: 100%: padding-bottom:10px;text-transform: uppercase;}
		
		h3.teal {color: #389e8d;} h3.gold {color: #f1b310;} h3.orange {color: #da6107;} h3.black {color: #000;}
 
	.story #buttons{width: 780px; }
	
	.story #buttons li{margin: -55px 5px 100px 5px;}
	
	.story .shadow{top: 0px !important;background: url(../images/shadow_down.png) center top no-repeat !important;}
	
	
	
/*-- logged in --*/
/*********************************************/	
	
	.loggedin_content .row1{margin-top:25px; margin-bottom:50px;}

	.loggedin_content .row2 .left{
		width:401px;
		margin: 0;
		padding: 50px 0;
		}
		
		.loggedin_content .row2 .left h2{text-transform: none;}
		
	.loggedin_content .row2 .right{
		width: 489px; 
		margin-bottom:75px;
		padding:0;}

		.loggedin_content .shadow{
		background: url(../images/shadow_down.png)center top no-repeat;
		top: -5px;
		height:50px;
		}
		
		.loggedin_content #buttons li{margin: -77px 5px 0 35px;}
	
	.loggedin_content .row3 {background: none;width:980px;padding-bottom:90px}
	
	.loggedin_content .row3 .left{
		padding: 0;
		width: 640px;
		}
		
		ul#genre{
			clear: both;
			float: left;
			width: 205px;
			margin-right: 20px;
			list-style:none;
			}
			
				ul#genre li{
					text-align:center;
					}
		
					ul#genre li a{
						background: #f2cd6a;
						display:block;
						color: #fff;
						padding: 26px 0;
						font: normal 17px/17px "Montserrat",Helvetica,Arial,sans-serif;
						border-bottom: 1px solid #fff;
						}
						
					ul#genre li a:hover{background: #f1b310  url(../images/arrow.png)  175px center no-repeat;}
					
					
					#genre_content{
						float: left;
						width: 411px;

						}	
						
						#genre_content h2{text-transform: none;}
	
	.loggedin_content .row3  .left .lt_teal {
	clear: both; 
	float: left;
	padding: 30px 0;
	text-align: center;
	width: 640px;
	margin: 25px 0;}
	
		.loggedin_content .row3 .lt_teal h2 a{font-size: 33px; line-height: 33px;}

	.loggedin_content .row3 .right{
		width: 250px;
		margin: -20px 20px 0 0;
		
		}

		ul#calendar {
			clear: both; 
			float: left;
			width: 270px;	
			list-style:none;
			margin-bottom:15px;}
			
			ul#calendar li {display: block; padding: 10px 0;margin-top: 10px;}
	
				ul#calendar li span.date{
					background: #609f95;
					color: #FFFFFF;
					text-align:center;
					font-size: 16px;
					text-transform: uppercase;
					float: left;
					margin-right: 10px;
					margin-top: -10px;
					padding: 5px 0;
					width: 50px;}
					
				ul#calendar li span.date strong{font-size:18px;}	

			.loggedin_content .row3 .right .lt_teal{
			clear: both;
			float: left; 
			margin: 10px 0; 
			padding: 20px 35px; 
			width:200px;}
			
				.loggedin_content .row3 .right .lt_teal .btn{width: 180px;float: left; text-align:center;margin: 5px 0;}
	
/*-- 404 --*/
/*********************************************/	
	
	.p404 .left{
		padding-top: 200px;
		width: 480px;
		}
	
	.p404 .right{
		background: url(../images/bg_404.png) top right no-repeat;
		width: 531px;
		height: 558px;
		margin-right: -100px;
		padding-bottom: 80px;
		}
	
	.p404 h2{font-size: 70px;line-height: 74px;}
	.p404 p{font-size: 18px; line-height: 26px;}.p404 p a{color: #389E8D}
	
	
/*-- FOOTER --*/
/*********************************************/	
	
	#teal{background: #389f8e;}
	
		#teal .left{
			background: url(../images/instrument1.png) 0 50px no-repeat;
			width: 380px;
			padding: 40px 10px 70px 90px;}			
		
		#teal .right{
			background: url(../images/instrument2.png) 0 50px no-repeat;
			width: 380px;
			padding: 40px 10px 70px 90px;}
	
	
			#teal .shadow{
				background: url(../images/shadow_down.png) center top no-repeat;
				top: -2px;
				height:26px;
				position: 	relative;
			}		
	
		#teal .three{background: url(../images/instrument3.png) 0 10px no-repeat;padding-top:0px;}
		#teal .four{background: url(../images/instrument4.png) 0 10px no-repeat;padding-top:0px;}	
		
		#teal p, #footer p {color: #d5f3ed; line-height: 20px;}

	
#footer{
	background: #389f8e;
}
	
	p.copyright{
		float: left;
		margin-left: 97px; 
		display: inline;
		line-height:19px;
		opacity: .75}
		
		ul#f_nav{
			float: right;
			list-style: none;
			width: 640px;
			padding: 5px 0 40px 0;	
		}
		
			ul#f_nav li{
				display: inline;
				border-left: 1px solid #fff;}
	
				ul#f_nav li a{
					padding: 0px 8px;
					color: #ffffff;
					font: normal 12px/12px "Montserrat",Helvetica,Arial,sans-serif;
				}
			
				ul#f_nav li a:hover{color: #cfcfcf; }

			#footer .shadow{
				background: url(../images/shadow_down.png) center top no-repeat;
				top: -2px;
				height:26px;
				position: 	relative;
			}	
	
			

/* GLOBAL TEXT STYLES */

/*********************************************************/


p{
clear: both;
color: #979797;
font: normal 12px/16px "Montserrat",Helvetica,Arial,sans-serif;
padding: 5px 0;
}

h1{
clear: both;
color: #f1b926;
font: 300 36px/40px "Montserrat",Helvetica,Arial,sans-serif;
margin: 10px 0;
}

	
h2{
clear: both;
color: #389e8d;
font: normal 48px/50px "Montserrat",Helvetica,Arial,sans-serif;
margin: 5px 0;
text-transform: uppercase;
}

h3{
clear: both;
color: #ffffff;
font: normal 22px/26px "Montserrat",Helvetica,Arial,sans-serif;
margin: 5px 0;
}

h4{
clear: both;
color: #ffffff;
font: normal 16px/20px "Montserrat",Helvetica,Arial,sans-serif;
text-transform: uppercase;

}

h5{
clear: both;
color: #979797;
font: normal 16px/20px "Montserrat",Helvetica,Arial,sans-serif;
}

/*buttons */


			ul#buttons{
				clear: both;
				list-style: none outside none;
				margin: 0 auto;
				width: 980px;
				}
				
				ul#buttons li {   
				
					display: inline;
					float: left;
					margin: 0 5px;
					padding: 20px 0;
					text-align: center;
					width: 250px;
					z-index: 99;
					position: relative;
					}

					ul#buttons li a{
						background: url("../images/arrow.png") no-repeat scroll right center transparent;
						color: #FFFFFF;
						font: 16px/16px "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
						padding: 15px 20px 15px 0;
						text-align: center;
						text-transform: uppercase;
						}
						
						ul#buttons li a:hover{color:#dfdfdf;}



	.btn{
	color: #ffffff;
	font: normal 12px/12px "Montserrat",Helvetica,Arial,sans-serif;
	padding: 10px 15px;
	text-transform: uppercase;
	cursor: pointer;
	}	
	
	.large{	font: normal 16px/16px "Montserrat",Helvetica,Arial,sans-serif;}
	
	.rounded{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 9px;
	}

	.teal{background: #389f8e !important;}

	.lt_blue{background: #8ed4c9 !important;}
	
	.gold{background: #F1B926 !important;}
	
	.yellow{background: #f2cd6a !important;}
	
	.blue{background: #609f95 !important; color:#8ed4c9 !important;} a .c_blue {color: #445552}
		
		.blue:hover, h3 a:hover{color: #445552 !important;}

	.orange{background: #f67631 !important;}
	
	.lt_teal {background: #8ed4c9;}



/* misc global styles */

.white{color:#fff;}

.clear {clear: both;}

.left{float: left;}
.right {float: right;}
	
.hidden{display: none;}








legend { 
	font-weight: bold; 
	font-size:1.2em; 
}

input.text, 
input.title,
textarea, 
select {
  margin: 0.5em 0;
  border: 1px solid #bbb;
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.hidden{display: none;}		
.left{float: left;}
.right{float: right;}

small{font-size: 85%}

.indent{display: block; text-indent: -9999em;}