@charset "UTF-8";
/* CSS Document */
@import url(bootstrap.css); 

@font-face {
	font-family: 'sansation';
	src: url('../fonts/sansation.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {	
	font-family: 'franchise';
	src: url('../fonts/franchise.ttf')  format('truetype'); /* Safari, Android, iOS */
	}
	
body {
  margin: 0;
  font-family: "Sansation", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #514d47;
}	

a{color: #a89f60;	}

.full{width: 100%; clear: both;float: left;}
 
.container{margin: 0 auto; width: 940px;clear: both;} 
.container_med{margin: 0 auto; width: 980px;clear: both;} 

.container_1k{margin: 0 auto; width: 1000px;clear: both;}
.container_large{margin: 0 auto; width: 1170px;clear: both;}
 


	/** headers **/ 

#header{
	clear: both;	
	border-bottom: 4px solid #aaaaaa;
	position: relative;
	}
	
	.home #header{
		background: #000 url(../images/home/bg_header.jpg) center top no-repeat;
		height:468px;
		} 
	
	.about #header, .journal #header{
		background: #000 url(../images/inside/header_about.jpg) center top fixed no-repeat;		
		height:368px;	
		}	
	
	.bio #header{
		background: url(../images/inside/header_bio.jpg) center top fixed repeat;
		height: 590px;
		}	
		
	.cantina_laredo #header{
		background: #000 url(../images/inside/header_cantina.jpg) center top fixed no-repeat;
		height: 410px;
		}	 	
		
	.voyage #header{
		background: none; 
		}
 	
	ul#topnav{
		clear: both;
		float: left;
		list-style: none outside none;
		padding-top:15px;
		width: 920px;
		position: absolute;
		z-index: 9999;
		top:15px;
	
		}
		
		#navWrap {
			height: 40px;
			background:url(../images/inside/bg_nav.png) center top no-repeat;
			clear: both;
			float: left;
			padding: 30px 0 30px 14px;
			width: 926px;
			position: absolute;
			z-index: 9999;
			top:15px;
			margin-left: 30px;
		}

		
		.fullnav{
			width: 100% !important;
			background: url(../images/inside/bg_nav_full.png) center top repeat-x !important;
			float: left !important;
		}
		
		#navWrap.fullnav {margin-left: 0px !important;}
		.fullnav #topnav{padding-top: 5px !important;margin-left: 30px;width: 900px;}
		
		.home ul#topnav{background: transparent;padding-left: 14px;top: 30px;}
		
		ul#topnav li{display: inline;}
		
			ul#topnav li a {
				float:left;
				color:#514d47;
				padding: 5px 16px;
				text-transform: uppercase;
				}
				
			ul#topnav li a:hover{	
				background: #2e2f33;
				color:#fff;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;}
				
			ul#topnav li.logo a{
				background: url(../images/logo.png) 0 -62px no-repeat;
				width: 175px;
				height: 62px;
				text-indent: -9999em;
				margin-top:-20px;
				margin-left: 15px;
				float: left;
				}	
				
				.home ul#topnav li.logo a{
				background: url(../images/logo.png) no-repeat;}
				
			ul#topnav li.gray {
			float: left;
			background: #857e74;
			color:#fff;
			padding: 0px 10px;
			margin: 5px 0 0 14px;}	
	
	/** homepage **/
					
	h4.quote{
		clear: both;
		margin: 0 auto;
		float: none;
		width: 220px;
		}
		
		h4.quote a{		
			border: 2px solid #FFFFFF;
		    color: #FFFFFF;
		    float: left;
		    margin-left: 25px;
		    padding: 10px 0;
		    text-align: center;
		    text-transform: uppercase;
		    width: 210px;
			margin-top: 350px;
			}
			
			h4.quote a:hover{background: #857e74}


/** homepage **/			
/** home content **/

#content{
	border-top: 4px solid #ffffff;
	clear: both;	
	position: relative;
}			

	.home #content{background: url(../images/home/bg_mid.jpg) center top repeat;}

	h4.client_voyages a{
		background: url(../images/home/clientvoyages.png) no-repeat;
		text-indent: -9999em;
		display: block;
		margin: 0 auto;
		width: 127px; 
		height: 44px;
		margin-top: 10px;	
	}
	
		h4.client_voyages a:hover{opacity: .75}
	
	ul#client_voyages{
		float: left;	
		background: url(../images/home/bg_clientvoyages.png) no-repeat;
		width: 1050px;
		margin: 10px 0 0 31px;
		list-style: none;
		padding: 46px 35px 0;
	}
	
		ul#client_voyages li{
			float: left; 
			width: 326px;
			height: 200px;
			padding-right: 24px;
		}
		
			ul#client_voyages h2{
				font: normal 44px/44px "franchise", sans-serif;
				text-transform: uppercase;
				color: #fff;				
			}

			ul#client_voyages h3{
				font: italic bold 18px/20px "Georgia", serif;
				color: #afa981;
				
			}
			
			ul#client_voyages li .hover{
			text-align: center;
			padding-top: 80px;
			height: 120px;
			background: url(../images/overlay_black.png) repeat;
			margin-top:-200px;
			z-index: 999;
			position: relative;
			cursor: pointer;}
			
			

	.shadow{
		background: url(../images/home/shadow.png) center top no-repeat;
		margin: 0 auto;
		height: 38px;
		 position: absolute;
		clear: both; top: 275px;
		width: 100%;
	}
			
	#middle{
		clear: both;
		padding: 29px 0 60px 0;
		margin-left: 65px;
		width: 1040px;
		float: left;
	}
	
	
		#middle .left{
			width: 650px;
		}			

			#clients{
				clear: both;
				float: left;
				margin: 10px 0 0 -5px;
				background: url(../images/home/bg_clients.png) no-repeat;
				width: 630px;
				height: 260px;				
			}
			
			#clients ul{
				clear: both;
				float: left; 
				width: 630px;
				height: 260px;
				list-style: none;
			}
			
				#clients ul li a{
					float: left;		
					background: url(../images/home/sprite_clients.png) no-repeat;	
					text-indent: -9999px;
					display: inline;
					opacity: .5;	
				}
				
					#clients ul li a:hover{opacity: 1;}
				
					#clients ul li.client1 a{
						background-position: 0 0;
						width: 182px; 
						height:147px;
					} 					

					#clients ul li.client2 a{
						background-position: -182px 0;
						width: 134px; 
						height:147px;
					} 					
					
					#clients ul li.client3 a{
						background-position: -316px 0;
						width: 158px; 
						height:127px;
					} 								
								
					#clients ul li.client4 a{
						background-position: -474px 0;
						width: 155px; 
						height:147px;
					} 					
					
					#clients ul li.client5 a{
						background-position: 0 -148px;
						width: 182px; 
						height:112px;
					} 			

					#clients ul li.client6 a{
						background-position: -182px -148px;
						width: 134px; 
						height:112px;
					} 					
					
					#clients ul li.client7 a{
						background-position: -316px -148px;
						width: 158px; 
						height:112px;
					} 								
								
					#clients ul li.client8 a{
						background-position: -474px -148px;
						width: 155px; 
						height:112px;
					} 					
	
			#middle .right{
			width: 256px;
			margin-right: 60px;
		}

			#instagram{
				margin: 30px 0 0 0;
				width: 256px;			
				text-align: center;
			}
			
				.jcarousel-item{height:254px;z-index: 99; position: relative;}
			
				#instagram .overlay{
					background: url(../images/home/overlay_instagram.png) no-repeat;
					position: relative;
					z-index: 999;
					width: 256px;
					height: 286px;
					margin: -261px 0 0 0;
					clear: both;
					float: left;					
				}

	
	/** testimonials **/
	
	#myCarousel{
	clear: both; 
	float: left;
	margin:0 0 0 35px;
	}
			
	.carousel-indicators{
		clear: both;
		float: left;		
		margin-left: 345px;		
	}		
	
	.carousel-indicators li {	
		background: url(../images/home/sprite_icons.png) no-repeat;
		width:75px;
		height: 67px;
	    display: block;
	    float: left;
	    text-indent: -999px;
	}
	
		.carousel-indicators li:hover{cursor: pointer;}

		.carousel-indicators li.one {background-position: 0 0;}
		.carousel-indicators li.two {background-position: -75px 0;}		
		.carousel-indicators li.three {background-position: -150px 0;}		
		.carousel-indicators li.four {background-position: -225px 0;}
		
		.carousel-indicators li.one.active, .carousel-indicators li.one:hover  {background-position: 0 -70px;}
		.carousel-indicators li.two.active, .carousel-indicators li.two:hover   {background-position: -75px -70px;}	
		.carousel-indicators li.three.active, .carousel-indicators li.three:hover   {background-position: -150px -70px;}
		.carousel-indicators li.four.active, .carousel-indicators li.four:hover   {background-position: -225px -70px;}					
			
	.carousel-inner{
		background: url(../images/home/bg_testimonial.png) no-repeat;
		height: 131px;
		width: 970px;
	}
				
		.carousel-inner .item{
		width: 770px;
		padding: 30px 100px 0 100px;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		}


/** about content **/

.inside #content{
	padding: 50px 0 50px 0;
	background: url(../images/inside/bg_content.jpg) center top repeat;}


	.about #content .left{
		clear: both;
		width: 400px;
		padding: 20px 0 0 35px;
		}
		
	.about #content .right{width:545px;padding:20px 0;}
	
		ul#employees{
			float: left;
			list-style:none;}
		
			ul#employees li{
				float: left;
				width: 175px;
				height:210px;}
				
				ul#employees li img{margin-top: -225px;}
														
				ul#employees li a{
					background: url(../images/inside/overlay_circle.png) repeat-x;
					float: left;
					height: 30px;
					padding: 180px 0 0 10px;
					position: relative;
					text-align: center;
					width: 165px;
					z-index: 999;}
					
					ul#employees li p{
					font: normal 18px/18px "franchise", "Helvetica Neue", Helvetica, Arial, sans-serif;
					color: #8e8e8e;
					position: relative;
					text-align: center;
					text-transform: uppercase;
					top: -50px;
					z-index: 999;}
				
					ul#employees li a:hover{
					background: url(../images/inside/overlay_circle_hover.png) repeat-x;
					color:#656456;
					}	

	.inside .shadow{position: relative; top: auto;}

	#lower{
	clear: both;
	margin: 35px 0 35px 85px;
	float:left;}
	

/** bio content **/

	#bio{
		clear: both; 
		float: left;
		padding: 130px 0 0 0;
		position: relative;
		height: 530px;}
	
		#bio .left{
			width: 500px;
			margin: 100px 0 0 0;}
		
		#bio .right{
			width: 570px;
			}
			
			#bio .right img{
			position: absolute;
			bottom: 0; right: -100px;}


		ul#passions{
			clear: both;
			float: left;
			list-style:none;
			margin: 20px 0 0 90px;
    		width: 900px;}
		
			ul#passions li{
				float: left;
				width: 175px;
				height:210px;}
						
				ul#passions li img{
					margin-top: -225px;
					}
												
			ul#passions li a{
				background: url(../images/inside/overlay_circle.png) repeat-x;
				float: left;
 				color: #8e8e8e;
				height: 30px;
				padding: 180px 0 0 10px;
				position: relative;
				width: 165px;
				z-index: 999;
							}
			
				ul#passions li a:hover{
				background: url(../images/inside/overlay_circle_hover.png) repeat-x;
				color:#656456;
				}	


	ul#posts{
		clear: both;
		float: left; 
		width: 1000px;
		list-style:none;
		margin: 0 0 20px 0;
		}
		
		ul#posts li{
		float: left;
		width: 470px;
		margin: 30px 0 30px 30px;	}	

	h4.view a{
		clear: both;
		background: url(../images/inside/view.png) center top no-repeat;
		text-indent: -9999em;
		display: block;
		margin: 0 auto;
		width: 950px; 
		height: 44px;
		margin-top: 10px;	
	}
	
		h4.view a:hover{opacity: .75}

/** journal content **/

ul#blog_entries{
	clear: both;
	float: left;
	list-style:none;
	margin: 20px 0 0 20px;
	width: 970px;}

	ul#blog_entries li{
		float: left;
		width: 238px;
		height:320px;}
		
			ul#blog_entries  img{margin-top: -432px;}
		
		/**ul#blog_entries .one{
			background: url(../images/inside/blog1.jpg) 0 0 no-repeat;
			}**/
		ul#blog_entries .two{
			background: url(../images/inside/blog2.jpg) 0 0 no-repeat;
			}
		ul#blog_entries .three{
			background: url(../images/inside/blog3.jpg) 0 0 no-repeat;
			}
		ul#blog_entries .four{
			background: url(../images/inside/blog4.jpg) 0 0 no-repeat;
			}		
		ul#blog_entries .five{
			background: url(../images/inside/blog1.jpg) 0 0 no-repeat;
			}
		ul#blog_entries .six{
			background: url(../images/inside/blog2.jpg) 0 0 no-repeat;
			}
		ul#blog_entries .seven{
			background: url(../images/inside/blog3.jpg) 0 0 no-repeat;
			}
		ul#blog_entries .eight{
			background: url(../images/inside/blog4.jpg) 0 0 no-repeat;
			}		
											
	ul#blog_entries li a{
		background: url(../images/inside/overlay_large.png) repeat-x;
		float: left;
		height: 320px;
		position: relative;
		text-align: center;
		width: 200px;
		padding: 0px 20px;
		z-index: 998;
		}
		
		ul#blog_entries li a h3{
			font: normal 32px/32px "franchise", sans-serif;
			text-transform: uppercase;
			color: #fff;
			padding-top:90px;}	
				
		ul#blog_entries li a h4{
			font: italic bold 12px/12px "Georgia", serif;
			color: #afa981;
			padding-bottom:30px;
			margin-top: -10px;		
			text-transform: none;	
			}
			
			ul#blog_entries li h4.client_title{ 
			position: relative;
			text-align: center;
			top: -90px;
			z-index: 998;}

		
		.blog_title{
			clear: both;
			float: left;
			margin-top: -100px;
			position: relative;
			text-align: center;
			z-index: 998;}
			
		.blog_title p{line-height: 18px;
	    text-transform: uppercase;}	
	
		ul#blog_entries li a:hover{
		background: url(../images/inside/overlay_large_hover.png) repeat-x;
		color:#656456;
		}

	.entry{
		clear: both;
		float: left; 
		padding: 15px;
		width: 975px;}
		
		.journal h2{padding-top: 15px;}
			
		.border{
			float: left; 
			clear: both;
			background: url(../images/inside/bg_image.jpg) no-repeat;
			padding: 12px;
			margin: 15px 0 0 0;}
			
		.entry h4{clear: both; padding: 10px 0;float: left;}		
		
		.entry p{padding: 10px 0;font-size: 18px; line-height: 24px;}
		
		.serif {
		font: bold italic 15px/18px "Georgia", serif;
		color:#9e9e9e;
		text-transform:none !important;
		padding-left: 5px;}
		

		
	ul#social{
		float: left;
		width:120px;
		list-style:none;
		padding: 5px 0 0 10px}
		
		ul#social li{display: inline;}
		
			ul#social li a{
				background: url(../images/social.png) no-repeat;
				float: left;
				width:29px;
				height: 30px;
				text-indent: -9999em;
			}
		
			ul#social li.twitter a{background-position: 0 0;}
			ul#social li.fb a{background-position: -29px 0;}			
			ul#social li.insta a{background-position: -58px 0;}			
			ul#social li.in a{background-position: -87px 0;}
	
	
/** client voyages **/	
	
.voyage #content{
	padding-top: 100px;
	}	
	
	.voyage #content h1{ 
	font-size: 88px;
    margin-bottom: 0;
    padding-top: 15px;
	text-align:center; }
	
	#dropdown{
		clear: both;
		background: url(../images/inside/bg_dropdown.jpg) repeat-x;
		width: 980px;
		float: left;
		height: 21px;
		padding-top:3px;
		}
		
		#dropdown h4{color:#fff;
		float: right;margin-right:10px;}
	
	ul#categories{
		float: right;
		width: 185px;
		list-style:none;
		padding: 0px 10px;
		position:relative;
		}
		
		ul#categories li a{
			font: normal 14px/16px "Sansation", "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-transform: uppercase;}
		
			ul#categories > li > a{
				color: #c89e60;
				float:left; 
				width: 185px;
				background: url(../images/inside/down.png) right 3px no-repeat;}
					
				ul#categories > li > ul {				
					clear: both;
					float: left;
					list-style: none;
					left: -3px;
					position: absolute;
					width: 208px;
					z-index: 999;
					visibility:hidden;
					padding-top:21px;
					}
					
					ul#categories > li:hover ul {visibility:visible;}
								
					ul#categories > li > ul > li {
						background: #FFF;
						clear: both;
						float: left;
						border-bottom: 1px solid #e4e1d8;
						padding: 10px 14px;
						width: 180px;}	
				
						ul#categories > li > ul > li > a{color: #826439;}
			
						ul#categories > li > ul > li > a:hover{color: #c89e60;}
					
					
		/** individual client pages **/			
					
		#title h1{
			width: 520px;
			margin: 150px 0 0 200px;
			padding: 30px 30px 20px 30px;
			background: url(../images/inside/white.png) repeat;
			font-size: 76px;
			line-height: 76px;
			text-align:center;
			color:#4b4843;
		}			
		
		
		.voyages #content .left{
			clear: both;
			width: 650px;
			padding-bottom:20px;}
					
			.voyages #content .left img{
				clear: both;
				float: left;
				background: #ebe9d0;
				padding: 5px;
				border: 1px solid #dfdfdf;	
				margin-bottom: 10px;	
				
			}			
					
		.voyages #content .right{
			width: 320px;
			padding-bottom:20px;
			margin-left: 30px;
		}		
		
		.right ul#cats{
				clear: both;
				float: left;
				width: 325px;
				list-style: none;
				background: url(../images/inside/bg_categories.png) no-repeat;
				padding-top: 3px;
				margin: 10px 0;
			}	
			
				.right ul#cats li a{
					font: normal 11px/11px "Sansation", "Helvetica Neue", Helvetica, Arial, sans-serif;
					color: #dad3ca;
					text-transform: uppercase;
					text-align: center;
					width: 108px;
					height: 13px;
					padding: 11px 0;
					float: left;
				}
				
				.right ul#cats li a.active, .right ul#cats li a:hover{color: #826439;}
					
			.voyages #content .right h4{  
			clear: both;
		    float: left;
		    margin-top: 30px;
		    font-size: 12px;
		    color:#928d77;}
					
		.voyages .container_med{text-align: center;}
		
		.voyages .container_med .center{
		text-align: center;
		color:#746a5b;			
		}
					
/** footer dark content **/

#dark_content{
	background: url(../images/home/bg_dark.jpg) repeat-x;
	height: 160px;	
}	
	
	ul#home_buckets{
		clear: both;
		float: left;
		width: 990px;
		margin: -50px 0 0 5px;
		list-style: none;
		z-index: 9999px;
		position: relative;
	}
	
		ul#home_buckets li{display: inline;}
		
		ul#home_buckets li a{
			background: url(../images/buckets.png) no-repeat;
			float: left;
			width: 330px;
			height: 177px;
			text-indent: -9999px;
			display: inline;
		}	
		

			ul#home_buckets li.bucket1 a{
				background-position: 0 0;
			}
			ul#home_buckets li.bucket1 a:hover{background-position: 1px -184px;}
			
			ul#home_buckets li.bucket2 a{
				background-position: -324px 0;				
			}	
			ul#home_buckets li.bucket2 a:hover{background-position: -323px -184px;}			
			ul#home_buckets li.bucket3 a{
				background-position: -663px 0;				
			}		
			ul#home_buckets li.bucket3 a:hover{background-position: -662px -184px;}

/** bottom **/

#bottom{
	background: url(../images/home/bg_bottom.jpg) repeat;
	padding: 20px 0;
}

	h5.sf a{
		clear: both;
		float: left;
		margin: 25px 0 0 0;
		text-indent: -9999px;
		display: inline;
		background: url(../images/sf.png) no-repeat;
		height: 45px;
		width: 45px;		
	}

	ul#bnav{
		float: left; 
		list-style: none;
		width: 520px;
		margin: 30px 0 0 0;
	}
	
		ul#bnav li{
		float: left;
		color:#bda16f;
		font-size: 12px;}
		
			ul#bnav li a {
				float:left;
				color:#313131;
				font-size: 12px;
				padding: 0px 15px;
				text-transform: uppercase;
				}
				
			ul#bnav li a:hover{	
				color:#bda16f;}
				
		h5.help{clear: none;}
				
		h5.help a {
		background: url(../images/help.png) no-repeat;
		height: 97px;
		float: right; 
		width: 224px;
		margin-right: 5px;}	
		
		h5.help a:hover {background-position: 0 -97px;}
				
	#bottom p{
		float: left;
		margin: -50px 0 0 60px;
		font-size: 11px;
		color: #bca06f;
	}		
			

	/** contact **/
	
	.shadow_down{
		background: url(../images/home/shadow2.png) center top no-repeat;
		margin: 0 auto;
		height: 28px;
		clear: both; 
		width: 100%;
		z-index:9999;
		position:relative;
	}
	
	
#contact{
	background: white url(../images/home/bg_contact.jpg) center top no-repeat;
	min-height:364px;
	margin-top: -28px;
	}
	
	#map a { 
		float: left;
		width: 443px;
		height:205px;
		background: url(../images/home/map.png) no-repeat;
		margin: 159px 0 0 80px;
		display:block;
		text-indent: -9999em;}
		
		#map_canvas{width: 560px; height: 350px;}
	
	#form{float: left;
    margin: 25px 0 0 -35px;}
			
/** footer **/

#footer{
	background: url(../images/home/bg_footer.jpg) repeat;
	padding: 35px 0;	
	color: #e5e5e5; text-transform: uppercase;font-size: 12px;
	text-align:center;	
	margin-top: -6px;
	
}			
	.wheel{margin-top: -40px;}
		
	#footer a{color:#eae6c4;}	#footer a:hover{color:#ffffff;}	
	
	
	
	
		
/** txt styles **/


p{
clear: both;
font: normal 14px/22px "Sansation", "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #656456;
margin: 10px 0;
}

	.home p{font: normal 14px/14px "Sansation", "Helvetica Neue", Helvetica, Arial, sans-serif;}
	.entry p{text-indent:25px;}

h1{
clear: both;	
font: normal 55px/58px "franchise", "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform: uppercase;
margin: 5px 0;
color: #000;
}

	h1.center{
		width: 915px;
		text-align:center;
		margin: 10px 32px;
		float:left;
		font-size: 48px;
		line-height: 52px;}
h2{
clear: both;
font: 100 36px/36px "franchise", "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform: uppercase;
color: #000;
margin: 5px 0;
}

h3{
clear: both;
font: 300 32px/36px "Sansation Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #000;
margin: 5px 0 10px 0; 
}

h4{
font: normal 14px/16px "Sansation", "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #30302a;
text-transform: uppercase;
}
 
 
	h4.title{
		background:url(../images/hr.png) 120px 4px no-repeat;
		margin: 0px 0px 15px 0px;
		width: 500px;
	}
 
h5{
clear: both;
font: bold italic 12px/14px "Georgia", serif;
color: #b9ad60;
}

 hr{
 border: none;
 float: left;
 clear: both;
 width: inherit;
 margin: 10px 0;
 height: 10px; 
 width: 100%;
 background: url(../images/hr.png) center top no-repeat;}

 hr.shadow{
 border: none;
 float: left;
 clear: both;
 width: inherit;
 margin: 10px 0;
 height: 30px; 
 width: 980px;
 background: url(../images/inside/hr_shadow.png) center top no-repeat;}

 
 hr.small{
 border: none;
 float: left;
 clear: both;
 width: inherit;
 margin: 5px 0;
 height: 10px; 
 background: url(../images/hr_small.png) center top no-repeat;}

.button{
	clear: both;
	padding: 7px 20px 3px 20px;
	background: #b99141;
	font: 100 30px/30px "franchise", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #fff;
	margin: 5px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.button:hover{opacity: .75;}