
body {
  padding-top: 50px;
  color: $gray;
}

/* ==========================================================================
   Helper Classes
   ========================================================================== */

.centered { text-align: center; margin: 0 auto; float: none;}

.full-width {
  width: 100%;
  float: left;
}

img.rounded {
  border-radius: 50%;
}

/* ==========================================================================
   Layout
   ========================================================================== */

.row {
  @include xs-max {
    margin: 0;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
