---
pageTitle: The Valtris Story
bodyClass: about
headerText: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis arcu in massa iaculis, ac hendrerit dolor varius. Mauris quis purus vitae nisl commodo aliquam in vitae magna.
---

<section class="full-width white" id="content">
  <div class="container container-padding">
    <div class="row">
      <div class="col-md-5 col-sm-12" id="about-content">
        <h3>Our History</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis arcu in massa iaculis, ac hendrerit dolor varius. Mauris quis purus vitae nisl commodo aliquam in vitae magna. Sed euismod vulputate elit, dapibus varius lectus semper nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        <p>Sed quis scelerisque tortor. Mauris laoreet arcu non urna tempus, a pharetra ante mollis. Integer cursus eu dolor eu eleifend. Integer quam elit, condimentum vel porttitor quis, mollis id neque. Duis non velit urna. Etiam lacus arcu, sagittis quis suscipit at, viverra at est. Etiam malesuada efficitur arcu vitae euismod. </p>
        <p>Proin non suscipit eros, non porta magna. In eleifend quam ac lectus scelerisque pellentesque. Curabitur posuere lorem non mollis dignissim. Sed sit amet gravida magna.</p>
      </div>
    </div>
  </div>
  <div class="graph-abs hidden-sm hidden-xs">
    <div class="graph-wrap">
      <%= partial "partials/graph" %>
    </div>
  </div>
</section>


<section class="full-width white" id="leadership">
  <div class="container container-padding">
    <div class="row">
      <h3>Our Leadership</h3>
      <div class="col-xs-6 col-sm-3 person">
        <img src="../img/person.gif" class="img-responsive">
        <h4><strong>First</strong> Last</h4>
        <p>Job Title</p>
      </div>
      <div class="col-xs-6 col-sm-3 person">
        <img src="../img/person.gif" class="img-responsive">
        <h4><strong>First</strong> Last</h4>
        <p>Job Title</p>
      </div>
      <div class="col-xs-6 col-sm-3 person">
        <img src="../img/person.gif" class="img-responsive">
        <h4><strong>First</strong> Last</h4>
        <p>Job Title</p>
      </div>
      <div class="col-xs-6 col-sm-3 person">
        <img src="../img/person.gif" class="img-responsive">
        <h4><strong>First</strong> Last</h4>
        <p>Job Title</p>
      </div>
      <div class="col-xs-6 col-sm-3 person">
        <img src="../img/person.gif" class="img-responsive">
        <h4><strong>First</strong> Last</h4>
        <p>Job Title</p>
      </div>
      <div class="col-xs-6 col-sm-3 person">
        <img src="../img/person.gif" class="img-responsive">
        <h4><strong>First</strong> Last</h4>
        <p>Job Title</p>
      </div>
      <div class="col-xs-6 col-sm-3 person">
        <img src="../img/person.gif" class="img-responsive">
        <h4><strong>First</strong> Last</h4>
        <p>Job Title</p>
      </div>
      <div class="col-xs-6 col-sm-3 person">
        <img src="../img/person.gif" class="img-responsive">
        <h4><strong>First</strong> Last</h4>
        <p>Job Title</p>
      </div>
    </div>
  </div>
</section>

<div id="tooltip" style="">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon id="tooltip-triangle" points="0,0 23,0 22,24"></polygon>
  </svg>
  <div class="value"> <span class="value-part"></span>
   <span class="value-total"></span>
  </div>
  <p id="tooltip-title"></p>
</div>
