---
pageTitle: Contact
bodyClass: contact
headerText: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis arcu in massa iaculis, ac hendrerit dolor varius. Mauris quis purus vitae nisl commodo aliquam in vitae magna.
---

<section class="full-width white" id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <ul class="tab-list">
          <li class="active"><a href="#usa-panel" data-toggle="tab">U.S. &amp; Canada</a></li>
          <li><a href="#asia-panel" data-toggle="tab">Asia</a></li>
          <li><a href="#latin-america-panel" data-toggle="tab">Latin America</a></li>
          <li><a href="#europe-panel" data-toggle="tab">Europe</a></li>
        </ul>
        <div class="tab-content">
          <div class="contact-content flex tab-pane active" id="usa-panel">
            <div class="col-md-6 hidden-sm hidden-xs map-wrap">
            </div>
            <div class="col-md-6 col-xs-12 form-wrap">
              <div class="row">
                <div class="col-md-12"><h3>Valtris Offices</h3></div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p><strong>Corporate Headquarters: <br />
                  7500 East Pleasant Valley Road <br />
                  Independence, Ohio 44131</strong></p>
                </div>
                <div class="col-sm-6">
                  <p><strong>Customer Service: <br /> <a href="mailto:orderalert@valtris.com">orderalert@valtris.com</a></strong></p>
                  <p><strong>General Inquiries: <br /><a href="mailto:info@valtris.com">info@valtris.com</a></strong></p>
                </div>
                <div class="col-sm-6">
                  <p><strong>Main Phone: <br />216-875-7200</strong></p>
                  <p><strong>Customer Service: <br />1-800-321-9942</strong></p>
                </div>
              </div>
              <div class="row">
                <form class="default col-md-12">
                  <div class="form-group" id="US">
                    <input type="text" class="form-control" id="us_name" placeholder="Name" required>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" id="us_email" placeholder="Email" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="us_company" placeholder="Company">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control textarea" id="us_message" rows="3" required>Message</textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Send</button>
                </form>
              </div>
            </div>
          </div> <!--/tab-1-->


          <div class="contact-content flex tab-pane" id="asia-panel">
            <div class="col-md-6 hidden-xs hidden-sm map-wrap">
            </div>
            <div class="col-md-6 col-xs-12 form-wrap">
              <div class="row">
                <div class="col-md-12"><h3>Asia</h3></div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <p><strong>China:<br />
                  Room No. 5511, 5/F Block C,
                  Ascendas Park, No. 388, Xinping Street,
                  Industrial Park, Suzhou,
                  Jiangsu Province, China.</strong></p>
                  <p><strong>Tel: +86 512 62768887<br />
                  Fax: +86 512 62536731</strong></p>
                </div>
                <div class="col-md-6">
                  <p><strong>Malaysia:<br />
                  Level 8, MCT Tower, Sky Park,
                  One City, Jalan USJ25/1,
                  Subang Jaya, 47650 Selangor,
                  Malaysia.</strong></p>
                  <p><strong><br />Tel: +603-8022 8379<br />
                  Fax: +603-8022 8201</strong></p>
                </div>
              </div>
              <div class="row">
                <form class="default col-md-12">
                  <div class="form-group" id="US">
                    <input type="text" class="form-control" id="us_name" placeholder="Name" required>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" id="us_email" placeholder="Email" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="us_company" placeholder="Company">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control textarea" id="us_message" rows="3" required>Message</textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Send</button>
                </form>
              </div>
            </div>
          </div> <!--/asia-panel-->


          <div class="contact-content flex tab-pane" id="latin-america-panel">
            <div class="col-md-6 hidden-xs hidden-sm map-wrap">
            </div>
            <div class="col-md-6 col-xs-12 form-wrap">
              <div class="row">
                <div class="col-md-12"><h3>Latin America</h3></div>
              </div>
              <div class="row">
                <div class="col-sm-7">
                  <p><strong>Mexico: <br />
                  Calle Montecito, 38 Piso 14 Oficina 18 <span class="break-sm"></span>
                  Col. Napoles, Del. Benito Juarez, C.P. 03810, Mexico, D.F.</strong></p>
                  <p><strong>Tel: (55) 53 44 5413</strong></p>
                </div>
              </div>
              <div class="row">
                <form class="default col-md-12">
                  <div class="form-group" id="US">
                    <input type="text" class="form-control" id="us_name" placeholder="Name" required>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" id="us_email" placeholder="Email" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="us_company" placeholder="Company">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control textarea" id="us_message" rows="3" required>Message</textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Send</button>
                </form>
              </div>
            </div>
          </div> <!--/latin-america-panel-->


          <div class="contact-content flex tab-pane" id="europe-panel">
            <div class="col-md-6 hidden-xs hidden-sm map-wrap">
            </div>
            <div class="col-md-6 col-xs-12 form-wrap">
              <div class="row">
                <div class="col-md-12"><h3>Europe</h3></div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <p><strong>Belgium: <br />
                  Grauwmeer 1/31 Bus 29 B-3001 Leuven, Belgium</strong></p>
                  <p><strong>Phone: 32 16 66 14 53 <br />
                  Fax: 44 (0) 1633 754293</strong></p>
                </div>
              </div>
              <div class="row">
                <form class="default col-md-12">
                  <div class="form-group" id="US">
                    <input type="text" class="form-control" id="us_name" placeholder="Name" required>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" id="us_email" placeholder="Email" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="us_company" placeholder="Company">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control textarea" id="us_message" rows="3" required>Message</textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Send</button>
                </form>
              </div>
            </div>
          </div> <!--/europe-panel-->
        </div>
      </div>
    </div>
  </div>
</section>
