---
pageTitle: Markets We Serve
bodyClass: markets
layoutClass: layout-three-col
headerText: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis arcu in massa iaculis, ac hendrerit dolor varius. Mauris quis purus vitae nisl commodo aliquam in vitae magna.
---

<% markets = MARKETS %>

<section class="full-width white" id="content">
  <div class="container content-offset">
    <div class="row flex">
      <% markets.each_with_index do |market, index| %>
        <div class="col-sm-4 bucket">
          <div class="padding">
            <h3><%= market[:name] %></h3>
            <p><%= market[:excerpt] %></p>
          </div>
          <%= link_to 'Learn More', '/pages/transportation.html',  :class => 'btn btn-default', :relative => true %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-10 centered pre-footer">
        <h3>Questions or Comments?</h3>
        <a href="#" class="btn btn-primary">Contact Valtris</a>
      </div>
    </div>
  </div>
</section>