---
pageTitle: News
bodyClass: news
layoutClass: layout-two-col-mast
headerText:
---

<% news = NEWS %>

<section class="full-width white" id="content">
  <div class="container content-offset">
    <div class="masthead">
      <div class="col-sm-4 img hidden-xs article-img" style="background-image: url(../img/article.jpg);">
      </div>
      <div class="col-sm-8 text">
        <div class="padding">
          <p><strong>Latest News</strong></p>
          <h3>News Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam scelerisque consequat. Aenean non ex at est sollicitudin ornare quis in justo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Neque porro quisquam est, ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
        <%= link_to 'Read More', '/pages/news_item.html',  :class => 'btn btn-default long', :relative => true %>
      </div>
    </div>
    <div class="row flex">
      <% news.each_with_index do |news_item, index| %>
        <div class="col-sm-6 bucket">
          <div class="padding">
            <h3><%= news_item[:name] %></h3>
            <p><%= news_item[:excerpt] %></p>
          </div>
          <%= link_to 'Read More', '/pages/news_item.html',  :class => 'btn btn-default', :relative => true %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-10 centered pre-footer">
        <h3>Questions or Comments?</h3>
        <a href="#" class="btn btn-primary">Contact Valtris</a>
      </div>
    </div>
  </div>
</section>