---
pageTitle: Transportation
layoutClass: layout-sidebar-complex
bodyClass: transportation
headerText: Valerus offers a comprehensive array of additives to improve the processing and end-use performance of marine, aerospace and automotive interior and exterior components.
---

<section class="full-width white" id="content">
  <div class="container container-padding">
    <div class="row">
      <div class="col-md-7">
        <p><strong>Therm-Chek,</strong> our solid or liquid heat stabilizer, answers the needs of the transportation industry. This includes low fog, low VOC, SVHC free, and low phenol properties.   </p>

        <p><strong>Plas-Chek</strong> epoxidized soybean oil is used in conjunction with our Therm-Chek product as a co-stabilizer.</p>

        <p><strong>Santicizer Specialty Plasticizers </strong>offer fast fusing and flame retardant properties to PVC formulations. Our Santicizer Platinum series offers the same benefits as our Santicizer benzyl phthalate products in a non-phthalate chemistry. </p>

        <p><strong>Santicizer phosphate plasticizers</strong> offer flame retardancy, smoke suppression and low temperature performance.</p>

        <p><strong>Synpro metallic stearates</strong>, and <strong>Petrac waxes &amp; fatty acids</strong>, can offer internal and external balance of lubrication to assist with melt processing.</p>

        <p><strong>Micro-Chek</strong> non-arsenic based antimicrobial agents protect critical marine, aerospace, and automotive components from undesirable growth of mold, fungus and mildew.  </p>
      </div>
      <div class="col-md-4 col-md-offset-1 sidebar complex">
        <div class="icons col-sm-12 centered">
          <li class="icon"><span class="light">low</span>voc</li>
          <li class="icon"><span class="light">certified</span>kosher</li>
          <li class="icon"><span class="light">low</span>odor</li>
          <li class="icon">flame<span class="light small">retardent</span></li>
        </div>
        <div class="text">
          <h3>Applications &amp; Features</h3>
          <ul>
            <li>Seat cushions</li>
            <li>Instrument panels</li>
            <li>Door panels</li>
            <li>Sound barriers</li>
            <li>Under-body coatings</li>
            <li>Floor mats</li>
            <li>Watercraft upholstery</li>
            <li>Press polishes</li>
          </ul>
        </div>
        <a href="#" class="btn btn-default">Request More Info</a>
      </div>
    </div>

    <div class="row related">
      <h3 class="col-sm-12">Related Products</h3>
      <ul class="col-sm-12 col-md-8">
        <li><a href="#">Santicizer Plasticizer</a></li>
        <li><a href="#">UV-Chek UV Stabilizers</a></li>
        <li><a href="#">Cata-Chek Tin Catalysts</a></li>
        <li><a href="#">Micro-Check Antimicrobials</a></li>
        <li><a href="#">Petrac Waxes &amp; Fatty Acids</a></li>
      </ul>
    </div>
  </div>
</section>
