
      <footer>
        <p class="pull-left visible-xs"> <a href="about.html">about</a> | <a href="mailto:bethany3123@gmail.com">contact</a></p>
        <p class="pull-right">&copy; Bethany Brown</p>
      </footer>
