/* ==========================================================================
   Contact
   ========================================================================== */
.contact  .map-wrap {
  height: 100%  !important;
  min-height: 600px !important;
}

/* ==========================================================================
   Footer
   ========================================================================== */
#footer {
  display: none !important;
}

#home .flex {
  background: #fff !important;
}