.about {


/* ==========================================================================
   About page
   ========================================================================== */

ul {font-size: 15px;}

p {
  margin-bottom: 20px;
  em { font: italic 400 14px/16px $font-family-serif; color: #888; }
  a { color: $brand-primary;}
  a:hover{ color: $gray}
}
h4 { font-size:18px; }
.wave{margin-top: -5px;}

#resume {
  margin-top: 30px;
  h1 {
    margin-bottom: 40px;
  }
}

// end
}


