.about {


/* ==========================================================================
   About page
   ========================================================================== */

ul {font-size: 15px;}

p { margin-bottom: 20px;}

p em { font-weight: 300;}

a { color: $brand-primary;}

a:hover{ color: $gray}

h3 {
  clear:both;
  margin: 20px 0 0 0;
}

.wave{margin-top: -5px;}


// end
}


