

/* ==========================================================================
   Work Thumbnails
   ========================================================================== */


ul{
  font-size: 14px;
  line-height: 18px;
  padding-left: 15px;
  color:#666;
  }

article {padding: 20px 0;}

.img{
  position: relative;
  border: 1px solid #ccc;
  overflow: hidden;
  .overlay{
    opacity: 0;
    background: #fff;
    position: absolute;
    height: 100%;
    top: 0;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    h2 {
      @include transform (translateY(-100px));
      opacity: 0;
      @include transition (all 0.3s ease-in-out);
    }
    li {
      @include transform (translateY(100px));
      opacity: 0;
      @include transition (all 0.3s ease-in-out);
    }
  }
}

.overlay ul {
  position: absolute;
  li { padding-bottom: 3px; }
  h2 { margin-top: 0; }
}

.img:hover {
  .overlay {
    opacity: .95;
    transition: all 0.3s ease-in-out;
  }
  h2, li{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.1s;
  }
}



/* ==========================================================================
   Footer
   ========================================================================== */



footer {
  clear: both;
  padding-left: 15px;
  padding-right: 15px;
}
