---
bodyClass: about
pageTitle: About
---

<div class="container">

  <div class="row">

    <aside class="col-sm-3" id="sidebar">

      <a href="index.html"><img src="img/bethany.jpg" class="img-responsive rounded" alt="Bethany Brown" /></a>

      <%= partial "partials/nav" %>

    </aside>

    <div class="col-sm-9">

      <p><span class="large">Hi! <img class="wave" src="img/wave.png" alt="wave" /></span></p>
      <p>My name is Bethany and I'm a front-end web developer living in San Diego and currently working at <a href="htttp://dtelepathy.com" target="_blank">Digital Telepathy</a>. When I'm not traveling or hiking, I stay busy and up to date on the latest web technologies by working for <a href="http://steadfastcreative.com" target="_blank">several</a> <a href="http://inbounddesignstudios.com" target="_blank">freelance</a> <a href="http://groupswitch.com" target="_blank">clients</a>. I'm a sucker for clean code, iced lattes, good music, and my two cats. </p>

      <p><a href="resume-online.pdf">Download resume &raquo;</a></p>

      <p><strong>Technical skills include:</strong><br /><em><span class="experience">Mobile and responsive website development, HTML5, CSS3, Javascript, JQuery, SASS, LESS, Ruby on Rails, Middleman, task runners like Gulp, Grunt, NPM, and RVM, front-end frameworks like Bootstrap and Foundation, responsive HTML emails, Adobe Creative Suite, </span> Github, Content Management Systems (CMS) like Wordpress, Expression Engine, Hubspot, and LightCMS, custom Facebook tabs, social media management, e-commerce platforms like Shopatron, Shopify, Big Commerce, Magento and Big Cartel, email management using Campaign Monitor, Mailchimp, Convio, Fishbowl and ExactTarget. </em></p>

    </div>

  </div>

</div>
