---
bodyClass: about
pageTitle: About
---


    <div class="container">

     <div class="row row-offcanvas row-offcanvas-right">

      <aside class="col-xs-6 col-sm-3 sidebar-offcanvas hidden-xs" id="sidebar" role="navigation">

          <div class="sidebar-nav">

            <a href="index.html"><img src="img/bethany.jpg" class="img-responsive rounded" alt="Bethany Brown" /></a>

            <h1><a href="index.html">bethany brown</a></h1>

          </div><!--/sidebar -->


    <%= partial "partials/nav" %>

        </aside><!--/col-->

        <div class="col-xs-12 col-sm-9">

           <div class="visible-xs">

               <a href="/"><img src="img/bethany.jpg" class="small-bee rounded" alt="Bethany Brown" /></a>
               <p>Web Development by Bethany Brown</p>

           </div>

          <div class="row">

            <section class="col-sm-11 col">
              <p><span class="large">Hi! <img class="wave" src="img/wave.png" alt="wave" /></span></p>
               <p>My name is Bethany and I'm a front-end web developer living in San Diego and currently working at <a href="htttp://dtelepathy.com" target="_blank">Digital Telepathy</a>. <!-- With ten years of coding experience and having just completed an 18-month contract for <a href="http://adobe.com" target="_blank">Adobe</a>, I'm now actively pursuing opportunities online or here in San Diego.  -->When I'm not outside exploring, I stay busy and up to date on the latest web technologies by working for <a href="http://steadfastcreative.com" target="_blank">several</a> <a href="http://inbounddesignstudios.com" target="_blank">freelance</a> <a href="http://groupswitch.com" target="_blank">clients</a>. I'm a sucker for clean code, iced lattes, new music, and my two cats. </p>

               <p><a href="resume-online.pdf">Download resume &raquo;</a></p>

             <!--    <ul id="skills">

                    <li class="col-xs-10">
                       <span class="col-xs-5"><strong>Areas of expertise:</strong></span>
                    </li>

                    <li class="col-xs-10">
            <span class="col-xs-4">HTML5/CSS3</span>
            <span class="col-xs-7 level">Expert</span>
                    </li>

                    <li class="col-xs-10">
            <span class="col-xs-4">Responsive dev</span>
            <span class="col-xs-7 level">Expert</span>
                    </li>

                    <li class="col-xs-10">
            <span class="col-xs-4">HTML emails</span>
            <span class="col-xs-7 level">Expert</span>
                    </li>

                    <li class="col-xs-10">
            <span class="col-xs-4">Adobe CS</span>
            <span class="col-xs-6 level">Proficient</span>
                    </li>

                    <li class="col-xs-10">
            <span class="col-xs-4">JQuery</span>
            <span class="col-xs-5 level">Proficient</span>
                    </li>

                    <li class="col-xs-10">
            <span class="col-xs-4">Javascript</span>
            <span class="col-xs-3 level">Familiar</span>
                    </li>

                    <li class="col-xs-10">
            <span class="col-xs-4">PHP</span>
            <span class="col-xs-2 level">Familiar</span>
                    </li>

                </ul> -->
                <div class="clearfix"> </div>

                <p><strong><br /><br />Proficient in:</strong><br /><em><span class="experience">HTML5, CSS3, Mobile and responsive website  development, Javascript, JQuery, AJAX/JSON, SASS/LESS, Middleman, Ruby on Rails, Task Runners: Gulp, Grunt, NPM, RVM, FrontEnd Frameworks: Bootstrap, Foundation, responsive HTML emails, Adobe Creative Suite, </span>Wordpress, Github, Mailchimp, Campaign Monitor, Expression Engine, Hubspot, LightCMS, Custom Facebook Tabs and Apps, Social Media, E-Commerce, Shopify, Big Cartel, ExactTarget, FreshDesk, Magento, Shopatron, Big Commerce, Adobe CQ5, Strutta, Liveball, Convio, Fishbowl</em></p>

                <!-- INSERT REFERENCE QUOTES HERE -->

                <!-- GET TO KNOW ME LINKS SECTION? -->

            </section><!--/col-->

          </div><!--/row-->

        </div><!--/col-->

    <%= partial "partials/footer" %>

      </div><!--/row-->

    </div><!--/container-->