---
bodyClass: about
pageTitle: About
---

<div class="container">

  <div class="row">

    <aside class="col-sm-3" id="sidebar">

      <a href="index.html"><img src="img/bethany.jpg" class="img-responsive rounded" alt="Bethany Brown" /></a>

      <%= partial "partials/sidebar" %>

    </aside>

    <div class="col-sm-8 col-sm-offset-1 col-lg-9 col-lg-offset-0">

      <div class="row" id="resume">

        <h3><span class="large">Hi! <img class="wave" src="img/wave.png" alt="wave" /></span></h3>
        <p>My name is Bethany and I'm a front-end web developer living in San Diego and working at <a href="htttp://dtelepathy.com" target="_blank">Digital Telepathy</a>. I love experience new places - when I'm not traveling or hiking, I stay busy and up to date on the latest web technologies by working for <a href="http://steadfastcreative.com" target="_blank">several</a> <a href="http://inbounddesignstudios.com" target="_blank">freelance</a> <a href="http://groupswitch.com" target="_blank">clients</a>. I'm a sucker for clean code, iced lattes, good music, and my two cats. </p>


        <h3><%= link_to "Github:", 'http://github.com/beeeees' %></h3>
        <p>Take a look at my <a href="http://github.com/beeeees" target="_blank">Github</a> profile to see the code for this site, as well as several other plugins and boilerplates!</p>
        <!-- <ul>
        <li><a href="https://github.com/beeeees/header-fade-plugin/blob/master/fullheight.js" target="_blank">jquery full height plugin</a></li>
        <li><a href="https://github.com/beeeees/header-fade-plugin" target="_blank">jquery header fade plugin</a></li>
        <li><a href="https://github.com/beeeees/middleman-boilerplate" target="_blank">middleman boilerplate</a></li>
        <li><a href="https://github.com/beeeees/responsive-email" target="_blank">responsive email template</a></li>
        </ul>
         -->


        <h3><%= link_to "Soundcloud:", 'http://soundcloud.com/beeeees' %></h3>
        <div id="soundcloud">
          <p>What I'm listening to lately:
        </div>

        <h3>Technical Skills:</h3>

        <p>Ten years of experience coding websites using front-end languages including <strong>HTML5, CSS3, Javascript and JQuery</strong> to create websites with a focus on cross-browser compatibility, responsive development and graceful degredation.</p>
        <p>Strong familiarity with the latest front-end tools including frameworks like <strong>Bootstrap and Foundation</strong>, task runners like <strong>Gulp, Grunt and NPM</strong>, CSS pre-processors like <strong>SASS and LESS</strong> and static site generators like <strong>Middleman</strong>.</p>
        <p>Strong familiarity with asynchronous request handling, partial page updates,<strong> AJAX, JSON and API </strong>implementation. Basic experience with <strong>CoffeeScript, ReactJS, AngularJS, and NodeJS</strong>.</p>
        <!-- <p>Experience with basic server side languages, especially focusing on <strong>Ruby on Rails</strong>, limited PHP.</p> -->
        <p>Extensive experience with <strong>responsive HTML email development</strong> and maintaining consistency and performance in all major email clients and mobile devices.</p>
        <p>Developed websites on a <strong>variety of CMS and e-commerce platforms</strong> including Wordpress, Expression Engine, Hubspot, LightCMS, Shopify, BigCommerce, Big Cartel, and ExactTarget.</p>
        <!-- <p>Strong work ethic, self-motivated, <strong>extremely efficient and quick while maintaining attention to detail</strong>, loves taking ownership of any project</p> -->

        <h3>Professional Experience:</h3>

        <article class="col-xs-12 col-md-5 effect">

          <h4>Digital Telepathy - Front-end Web Developer</h4>
          <p><em>Apr 2014 - Present</em></p>

          <p>Front-end Web Developer at a UX/UI agency, coding custom responsive websites with rich user interactions and animations for a variety of clients.</p>

        </article>

        <article class="col-xs-12 col-md-5 effect pull-right">

          <h4>Adobe - Digital Marketing Web Producer</h4>
          <p><em>Sep 2012 - Apr 2014</em></p>

          <p>Responsible for front-end development and localization of responsive demand generating landing pages. microsites and HTML emails related to Global Marketing Organization of Adobe.</p>

        </article>

        <article class="col-xs-12 col-md-5 effect">

          <h4>Steadfast Creative - Front-end Web Developer</h4>
          <p><em>Sep 2010 - Present (Freelance)</em></p>

          <p>Freelance Web Developer for a digital marketing agency, coding custom responsive websites for a variety of clients  often built on LightCMS or Wordpress.</p>

        </article>

        <article class="col-xs-12 col-md-5 effect pull-right">

          <h4>Switch - Front-end Web Developer</h4>
          <p><em>Sep 2010 - Sep 2012</em></p>

          <p>Front End Web Developer at a boutique creative agency, coding custom websites for a variety of clients on Expression Engine, Wordpress and custom HTML emails on Mailchimp, Campaign Monitor, Fishbowl.</p>

        </article>

       <!--  <article class="col-xs-12 col-md-5 effect">

          <h3>Inprov, ltd - Front-end Web Developer</h3>
          <p><em>Mar 2009 - Sep 2010</em></p>

          <p>Responsible for front-end development and localization responsive demand generating landing pages. microsites and HTML emails related to Global Marketing Organization of Adobe, using HTML5/CSS3/JQuery</p>

        </article> -->


        <article class="col-xs-12 col-md-5 effect">

          <h4>The Secret Handshake - Tour Manager</h4>
          <p><em>Aug 2007 - Sep 2010</em></p>

          <p>Responsible for event confirmation, scheduling, and logistics, along with merchandising and finances for a five member musical group touring across the United States for up to six weeks at a time, multiple times a year. </p>

        </article>

        <article class="col-xs-12 col-md-5 effect pull-right">

          <h4>Billy Jealousy - Graphic Designer</h4>
          <p><em>Feb 2005 - Aug 2007</em></p>

          <p>Hired as a graphic designer for a boutique skincare line, role evolved to an office manager position as well - performing executive assistant duties and managing day to day finances and transatcions.</p>

        </article>

      </div> <!--/resume-->

    </div>

  </div>

</div>
