---
bodyClass: about
pageTitle: About
---

<div class="container">

  <div class="row">

    <aside class="col-sm-3" id="sidebar">

      <a href="index.html"><img src="img/bethany.jpg" class="img-responsive rounded" alt="Bethany Brown" /></a>

      <%= partial "partials/nav" %>

    </aside>

    <div class="col-sm-9">

      <div class="row">
      <p><span class="large">Hi! <img class="wave" src="img/wave.png" alt="wave" /></span></p>
      <p>My name is Bethany and I'm a front-end web developer living in San Diego and currently working at <a href="htttp://dtelepathy.com" target="_blank">Digital Telepathy</a>. When I'm not traveling or hiking, I stay busy and up to date on the latest web technologies by working for <a href="http://steadfastcreative.com" target="_blank">several</a> <a href="http://inbounddesignstudios.com" target="_blank">freelance</a> <a href="http://groupswitch.com" target="_blank">clients</a>. I'm a sucker for clean code, iced lattes, good music, and my two cats. </p>
<!-- 
      <p><strong>Technical skills include:</strong><br /><em><span class="experience">Mobile and responsive website development, HTML5, CSS3, Javascript, JQuery, SASS, LESS, Ruby on Rails, Middleman, task runners like Gulp, Grunt, NPM, and RVM, front-end frameworks like Bootstrap and Foundation, responsive HTML emails, Adobe Creative Suite, </span> Github, Content Management Systems (CMS) like Wordpress, Expression Engine, Hubspot, and LightCMS, custom Facebook tabs, social media management, e-commerce platforms like Shopatron, Shopify, Big Commerce, Magento and Big Cartel, email management using Campaign Monitor, Mailchimp, Convio, Fishbowl and ExactTarget. </em></p>
 -->]

<!-- 
 Proficient understanding of web markup, including HTML5, CSS3
Basic understanding of server-side CSS pre-processing platforms, such as LESS and SASS
Proficient understanding of client-side scripting and JavaScript frameworks, including jQuery
Note: Every front-end developer is expected to have a proficient knowledge of JavaScript, while most front-end developers should know jQuery.
Good understanding of {{Depending on the specific case, a developer should have the knowledge of advanced JavaScript libraries and frameworks, such as AngularJS, KnockoutJS, BackboneJS, ReactJS, DurandalJS etc.}}
Good understanding of asynchronous request handling, partial page updates, and AJAX
Basic knowledge of image authoring tools, to be able to crop, resize, or perform small adjustments on an image. Familiarity with tools such as as Gimp or Photoshop is a plus.
Note: A UI/UX designer is expected to deliver finished resources for the developer to incorporate into the app. However, quite often a front-end web developer needs to make some small adjustments.
Proficient understanding of cross-browser compatibility issues and ways to work around them.
Proficient understanding of code versioning tools, such as {{Git / Mercurial / SVN}}
Good understanding of SEO principles and ensuring that application will adhere to them. -->
      </div>

      <div class="row" id="resume">

      <h1 class="text-center">Online Resume</h1>


      <article class="col-sm-5 role">

        <h3>Digital Telepathy - Front-end Web Developer</h3>
        <p><em>Apr 2014 - Present</em></p>

        <p>Front-end Web Developer using HTML5/CSS3/JQuery to code custom and responsive websites with rich user interactions and animations for a variety of clients.</p>
        
      </article>




      <article class="col-sm-5 role pull-right">

        <h3>Adobe - Digital Marketing Web Producer</h3>
        <p><em>Sep 2012 - Apr 2014</em></p>

        <p>Responsible for front-end development and localization responsive demand generating landing pages. microsites and HTML emails related to Global Marketing Organization of Adobe, using HTML5/CSS3/JQuery</p>
        
      </article>




      <article class="col-sm-5 role">

        <h3>Steadfast Creative - Front-end Web Developer</h3>
        <p><em>Sep 2010 - Present (Freelance)</em></p>

        <p>Freelance Web Developer using HTML5/CSS3/JQuery to code custom and responsive websites often built on LightCMS or Wordpress.</p>
        
      </article>

      <article class="col-sm-5 role pull-right">

        <h3>Switch Creative Group - Front-end Web Developer</h3>
        <p><em>Sep 2010 - Sep 2012</em></p>

        <p>Front End Web Developer at a boutique creative agency, using CSS3/LESS/HTML5/JQuery to code custom websites on Expression Engine, Wordpress and custom HTML emails on Mailchimp, Campaign Monitor, Fishbowl.</p>
        
      </article>

     <!--  <article class="col-sm-5 role">

        <h3>Inprov, ltd - Front-end Web Developer</h3>
        <p><em>Mar 2009 - Sep 2010</em></p>

        <p>Responsible for front-end development and localization responsive demand generating landing pages. microsites and HTML emails related to Global Marketing Organization of Adobe, using HTML5/CSS3/JQuery</p>
        
      </article> -->


      <article class="col-sm-5 role">

        <h3>The Secret Handshake - Tour Manager</h3>
        <p><em>Aug 2007 - Sep 2010</em></p>

        <p>Responsible for front-end development and localization responsive demand generating landing pages. microsites and HTML emails related to Global Marketing Organization of Adobe, using HTML5/CSS3/JQuery</p>
        
      </article>


      <article class="col-sm-5 role pull-right">

        <h3>Billy Jealousy - Graphic Designer</h3>
        <p><em>Feb 2005 - Aug 2007</em></p>

        <p>Graphic Designer/Office Management/Product Development</p>
        
      </article>
  
      </div>

    </div>

  </div>

</div>
