---
bodyClass: home
pageTitle: Home
---

<div class="container">

  <div class="row">

      <aside class="col-sm-3" id="sidebar">

        <img src="img/bee.png" class="img-responsive" alt="Bethany Brown" />

        <%= partial "partials/sidebar" %>

      </aside>

      <div class="col-sm-9">

         <article class="col-sm-6 col-lg-4">

            <a href="http://www.quip.com" target="_blank">

              <div class="img">

                <img src="img/web-quip.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Custom Website</h2>
                    <li>HTML, CSS, Javascript, Grunt</li>
                    <li>Lead developer and technical resource</li>
                    <li>Interaction design</li>
                    <li>In association with Telepathy</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/quip-->

         <article class="col-sm-6 col-lg-4">

            <a href="http://www.goguardian.com" target="_blank">

              <div class="img">

                <img src="img/web-goguardian.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Custom Website</h2>
                    <li>HTML, CSS, Javascript, Gulp</li>
                    <li>Lead developer and technical resource</li>
                    <li>Interaction design</li>
                    <li>Contentful integration</li>
                    <li>In association with Telepathy</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/goguardian-->

         <article class="col-sm-6 col-lg-4">

            <a href="http://www.thestartupway.com" target="_blank">

              <div class="img">

                <img src="img/web-startup.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Custom Landing Page</h2>
                    <li>HTML, CSS, Javascript, Middleman</li>
                    <li>Lead developer and technical resource</li>
                    <li>Interaction design</li>
                    <li>In association with Telepathy</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/the startupway-->

         <article class="col-sm-6 col-lg-4">

            <a href="http://www.glidr.io" target="_blank">

              <div class="img">

                <img src="img/web-glidr.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Custom Website</h2>
                    <li>HTML, CSS, Javascript, Middleman</li>
                    <li>Lead developer and technical resource</li>
                    <li>Interaction design</li>
                    <li>In association with Telepathy</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/glidr-->

         <article class="col-sm-6 col-lg-4">

            <a href="http://www.newrelic.com" target="_blank">

              <div class="img">

                <img src="img/web-newrelic.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Custom Homepage</h2>
                    <li>HTML, CSS, Javascript</li>
                    <li>Interaction Design</li>
                    <li>In association with Telepathy</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/newrelic-->

         <article class="col-sm-6 col-lg-4">

            <a href="http://www.sanfranciscosailing.com" target="_blank">

              <div class="img">

                <img src="img/web-sailing.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Custom Website</h2>
                    <li>HTML, CSS, Javascript, Middleman</li>
                    <li>Interaction design</li>
                    <li>In association with Telepathy</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/sf sailing -->

         <article class="col-sm-6 col-lg-4">

            <a href="http://www.unoceros.com" target="_blank">

              <div class="img">

                <img src="img/web-uno.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Custom Website</h2>
                    <li>HTML, CSS, Javascript</li>
                    <li>Lead developer</li>
                    <li>SVG Animations</li>
                    <li>In association with Telepathy</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/unoceros-->

<!--           <article class="col-sm-6 col-lg-4">

            <a href="http://edthena.com" target="_blank">

              <div class="img">

                <img src="img/web-edthena.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Custom Website</h2>
                    <li>HTML, CSS, Javascript, Middleman</li>
                    <li>Lead developer</li>
                    <li>SVG Animations</li>
                    <li>In association with Telepathy</li>
                  </ul>

                </div> <!/overlay-->
<!--
              </div>

            </a>

          </article> --> <!--/edthena-->

          <article class="col-sm-6 col-lg-4">

            <a href="http://dtelepathy.com/ux-metrics" target="_blank">

              <div class="img">

                <img src="img/web-heart.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Landing Page</h2>
                    <li>HTML, CSS, Javascript, Gulp</li>
                    <li>Lead developer</li>
                    <li>Interaction design</li>
                    <li>In association with Telepathy</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/heart framework-->

        <!--   <article class="col-sm-6 col-lg-4">

            <a href="http://www.dtelepathy.com/philosophy/" target="_blank">

              <div class="img">

                <img src="img/web-dt.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Landing Page</h2>
                    <li>HTML, CSS, Javascript, Middleman</li>
                    <li>Interaction design</li>
                    <li>In association with Telepathy</li>
                  </ul>

                </div>

             <!--  </div>

            </a>

          </article> --><!--/dt way-->

         <article class="col-sm-6 col-lg-4">

            <a href="http://spring-creek.herokuapp.com" target="_blank">

              <div class="img">

                <img src="img/web-sc.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Custom Website</h2>
                    <li>HTML, CSS, Javascript</li>
                    <li>In association with Steadfast Creative</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/spring creek-->

          <article class="col-sm-6 col-lg-4">

            <a href="http://valtris.com" target="_blank">

              <div class="img">

                <img src="img/web-valtris.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Custom Website</h2>
                    <li>HTML, CSS, Javascript</li>
                    <li>SVG Animation</li>
                    <li>In association with Steadfast Creative</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/valtris-->

          <article class="col-sm-6 col-lg-4">

            <a href="https://landing.adobe.com/en/na/products/marketing-cloud/316997-fast-follower-digital-pacesetter/DUcA7cGb.html" target="_blank">

              <div class="img">

                <img src="img/web-adobe.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Landing Page</h2>
                    <li>HTML, CSS</li>
                    <li>Responsive</li>
                    <li>In association with Adobe</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/adobe-->

         <!--  <article class="col-sm-6 col-lg-4">

            <a href="https://litmus.com/pub/5962b8c/screenshots" target="_blank">

              <div class="img">

                <img src="img/web-meyer.jpg" class="img-responsive" alt="HTML Email Development" />

                <div class="overlay">

                  <ul>
                    <h2>HTML email</h2>
                    <li>Animated CTA</li>
                    <li>Cross-platform support, all major email clients</li>
                    <li>In association with Switch Creative</li>
                  </ul>

                </div>

              </div>

            </a>

          </article> --><!--/meyer dunlap-->

          <article class="col-sm-6 col-lg-4">

            <a href="http://codepen.io/beeeees/pen/JEDms" target="_blank">

              <div class="img">

                <img src="img/web-email.jpg" class="img-responsive" alt="HTML Email Development" />

                <div class="overlay">

                  <ul>
                      <h2>Responsive Email</h2>
                      <li>Desktop/mobile version</li>
                      <li>Optimized for Retina displays</li>
                      <li>Cross-platform support, all major email clients</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/email-->


      </div>

  </div>

</div><!--/container-->
