---
bodyClass: home
pageTitle: Home
---

    <div class="container">

     <div class="row row-offcanvas row-offcanvas-right">

      <h3 class="pull-right hidden-xs">Click a project below to launch &raquo;</h3>

    <aside class="col-sm-3 sidebar-offcanvas hidden-xs" id="sidebar" role="navigation">


            <img src="img/bee.png" class="img-responsive" alt="Bethany Brown" />
            <h1 class="active">bethany brown</h1>



    <%= partial "partials/nav" %>

        </aside ><!--/col-->

        <div class="col-xs-12 col-sm-9">

           <div class="visible-xs">

               <a href="mailto:bbeeeees@gmail.com"><img src="img/bee.png" class="small-bee" alt="Bethany Brown" /></a>
               <p>Web Development by Bethany Brown</p>

           </div> <!--/visible-xs-->

          <div class="row">

            <article class="col-6 col-sm-6 col-lg-4 col">

              unoceros

            </article><!--/col-->

            <article class="col-6 col-sm-6 col-lg-4 col">

             valtris, graph page?

            </article><!--/col-->

            <article class="col-6 col-sm-6 col-lg-4 col">

              heart framework

            </article><!--/col-->

            <article class="col-6 col-sm-6 col-lg-4 col">

              edthena?

            </article><!--/col-->

            <article class="col-6 col-sm-6 col-lg-4 col">

              http://www.manfrotto.us/filters?cat_title=Lens_Filters?

            </article><!--/col-->

            <article class="col-6 col-sm-6 col-lg-4 col">

              expensebot

            </article><!--/col-->

            <article class="col-6 col-sm-6 col-lg-4 col">

              process page of dt site

            </article><!--/col-->





            <article class="col-6 col-sm-6 col-lg-4 col">

              <a href="http://success.adobe.com/en/na/programs/products/digitalmarketing/aem/1306-31811-forrester-wcm-wave-alt.html" target="_blank">

                  <div class="img">

                  <img src="img/web-4.jpg" class="img-responsive" alt="Front End Web Development" />
                      <div class="overlay">

                            <ul>
                                <h2>Landing Page</h2>
                                <li>HTML5/CSS3</li>
                                <li>Responsive</li>
                                <li>Setup on Adobe CQ5 CMS</li>
                            </ul>

                        </div> <!--/overlay-->

                    </div> <!--/img-->

              </a>

            </article><!--/col-->

            <article class="col-6 col-sm-6 col-lg-4 col">

              <!--<a href="http://cdpn.io/cyqlk" target="_blank">-->

              <a href="http://codepen.io/beeeees/pen/JEDms" target="_blank">

                <div class="img">

                  <img src="img/web-5.jpg" class="img-responsive" alt="HTML Email Development" />

                    <div class="overlay">

                            <ul>
                                <h2>Responsive Email</h2>
                                <li>Desktop/mobile version</li>
                                <li>Optimized for Retina displays</li>
                                <li>Cross-platform support for all major email clients</li>

                            </ul>

                        </div> <!--/overlay-->

                    </div> <!--/img-->

              </a>

            </article><!--/col-->




            <article class="col-6 col-sm-6 col-lg-4 col">

              <a href="http://us7.campaign-archive1.com/?u=28d0bce2a93d658876d43d218&id=01cc2b7ae7&e=[UNIQID]" target="_blank">

                  <div class="img">

                  <img src="img/email-1.jpg" class="img-responsive" alt="Front End Web Development" />
                    <div class="overlay">

                            <ul>
                                <h2>HTML email</h2>
                                <li>Animated CTA</li>
                                <li>Cross-platform support for all major email clients</li>
                                <li><a href="https://litmus.com/pub/5962b8c/screenshots" target="_blank">View the Litmus test</a></li>
                            </ul>

                        </div> <!--/overlay-->

                    </div> <!--/img-->

              </a>

            </article><!--/col-->


            <article class="col-6 col-sm-6 col-lg-4 col">

              <a href="http://www.firesidepies.com" target="_blank">

                  <div class="img">

                  <img src="img/web-6.jpg" class="img-responsive" alt="Front End Web Development" />
                    <div class="overlay">

                            <ul>
                                <h2>Custom Development</h2>
                                <li>HTML5/CSS3/JQuery</li>
                            </ul>

                        </div> <!--/overlay-->

                    </div> <!--/img-->

              </a>

            </article><!--/col-->



          </div><!--/row-->

        </div><!--/col-->

    <%= partial "partials/footer" %>


      </div><!--/row-->

    </div><!--/container-->