---
bodyClass: home
pageTitle: Home
---

<div class="container">

  <div class="row">

      <h4 class="pull-right hidden-xs margin">Click a project below to launch &raquo;</h4>

      <aside class="col-sm-3" id="sidebar">

        <img src="img/bee.png" class="img-responsive" alt="Bethany Brown" />

        <%= partial "partials/sidebar" %>

      </aside>

      <div class="col-sm-9">

         <article class="col-sm-6 col-lg-4">

            <a href="http://www.unoceros.com" target="_blank">

              <div class="img">

                <img src="img/web-uno.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Custom Website</h2>
                    <li>HTML5/CSS3</li>
                    <li>JQuery</li>
                    <li>Responsive layout</li>
                    <li>SVG Animations</li>
                    <li>In association with Digital Telepathy</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/unoceros-->

          <article class="col-sm-6 col-lg-4">

            <a href="http://edthena.com" target="_blank">

              <div class="img">

                <img src="img/web-edthena.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Custom Website</h2>
                    <li>HTML5/CSS3</li>
                    <li>JQuery/AJAX</li>
                    <li>Responsive layout</li>
                    <li>SVG Animations</li>
                    <li>In association with Digital Telepathy</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/edthena-->

          <article class="col-sm-6 col-lg-4">

            <a href="http://dtelepathy.com/ux-metrics" target="_blank">

              <div class="img">

                <img src="img/web-heart.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Landing Page</h2>
                    <li>HTML5/CSS3</li>
                    <li>JQuery</li>
                    <li>Responsive layout</li>
                    <li>CSS Animations</li>
                    <li>In association with Digital Telepathy</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/heart framework-->

          <article class="col-sm-6 col-lg-4">

            <a href="http://www.dtelepathy.com/philosophy/" target="_blank">

              <div class="img">

                <img src="img/web-dt.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Landing Page</h2>
                    <li>HTML5/CSS3</li>
                    <li>JQuery</li>
                    <li>Responsive layout</li>
                    <li>CSS Animations</li>
                    <li>Full page header video</li>
                    <li>In association with Digital Telepathy</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/dt way-->

         <article class="col-sm-6 col-lg-4">

            <a href="http://spring-creek.herokuapp.com" target="_blank">

              <div class="img">

                <img src="img/web-sc.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Custom Website</h2>
                    <li>HTML5/CSS3</li>
                    <li>JQuery</li>
                    <li>Responsive layout</li>
                    <li>In association with Steadfast Creative</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/spring creek-->

          <article class="col-sm-6 col-lg-4">

            <a href="http://www.manfrotto.us/filters?cat_title=Lens_Filters?" target="_blank">

              <div class="img">

                <img src="img/web-mf.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Landing Page</h2>
                    <li>HTML5/CSS3</li>
                    <li>JQuery</li>
                    <li>CSS Animations</li>
                    <li>In association with Digital Telepathy</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/manfrotto-->

          <article class="col-sm-6 col-lg-4">

            <a href="https://expensebot.com/tour" target="_blank">

              <div class="img">

                <img src="img/web-expense.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Custom Website</h2>
                    <li>HTML5/CSS3</li>
                    <li>JQuery</li>
                    <li>Responsive layout</li>
                    <li>CSS Animations</li>
                    <li>In association with Digital Telepathy</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/expensebot-->

          <article class="col-sm-6 col-lg-4">

            <a href="http://valtris.herokuapp.com/about" target="_blank">

              <div class="img">

                <img src="img/web-valtris.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Custom Website</h2>
                    <li>HTML5/CSS3</li>
                    <li>JQuery</li>
                    <li>Responsive layout</li>
                    <li>SVG Animation</li>
                    <li>In association with Steadfast Creative</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/valtris-->

          <article class="col-sm-6 col-lg-4">

            <a href="http://success.adobe.com/en/na/programs/products/digitalmarketing/aem/1306-31811-forrester-wcm-wave-alt.html" target="_blank">

              <div class="img">

                <img src="img/web-adobe.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Landing Page</h2>
                    <li>HTML5/CSS3</li>
                    <li>Responsive</li>
                    <li>Setup on Adobe CQ5</li>
                    <li>In association with Adobe</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/adobe-->

          <article class="col-sm-6 col-lg-4">
<!-- http://us7.campaign-archive1.com/?u=28d0bce2a93d658876d43d218&id=01cc2b7ae7&e=[UNIQID] -->

            <a href="https://litmus.com/pub/5962b8c/screenshots" target="_blank">

              <div class="img">

                <img src="img/web-meyer.jpg" class="img-responsive" alt="HTML Email Development" />

                <div class="overlay">

                  <ul>
                    <h2>HTML email</h2>
                    <li>Animated CTA</li>
                    <li>Cross-platform support for all major email clients</li>
                    <li>In association with Switch Creative</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/meyer dunlap-->

          <article class="col-sm-6 col-lg-4">

            <a href="http://codepen.io/beeeees/pen/JEDms" target="_blank">

              <div class="img">

                <img src="img/web-email.jpg" class="img-responsive" alt="HTML Email Development" />

                <div class="overlay">

                  <ul>
                      <h2>Responsive Email</h2>
                      <li>Desktop/mobile version</li>
                      <li>Optimized for Retina displays</li>
                      <li>Cross-platform support for all major email clients</li>
                  </ul>

                </div> <!--/overlay-->

              </div> <!--/img-->

            </a>

          </article><!--/email-->

          <article class="col-sm-6 col-lg-4">

            <a href="http://www.firesidepies.com" target="_blank">

                <div class="img">

                <img src="img/web-fireside.jpg" class="img-responsive" alt="Front End Web Development" />

                <div class="overlay">

                  <ul>
                    <h2>Custom Website</h2>
                    <li>HTML5/CSS3</li>
                    <li>JQuery</li>
                    <li>In association with Switch Creative</li>
                  </ul>

                </div> <!--/overlay-->

                </div> <!--/img-->

            </a>

          </article><!--/fireside pies-->

      </div>

  </div>

</div><!--/container-->